@*@model AdvancedTask.Models.AdvancedTaskIndexViewData
@using EPiServer.Shell.Web.Mvc.Html

<div class="pagerwrapper">
    <div class="pager">
        @($"Displaying tasks {Model.MinIndexOfItem}-{Model.MaxIndexOfItem} of {Model.TotalItemsCount}")
    </div>
    <div class="pagercenter">
        @if (Model.PageNumber > 1)
        {
            <a href="@Model.PageUrl(Model.PageNumber - 1,Model.PageSize)" class="arrow">
                <img src="/App_Themes/Default/Images/Tools/ArrowLeft.gif" alt="Previous" />
            </a>
        }

        @foreach (int page in Model.Pages)
        {
            if (page == 0)
            {
                <span>...</span>
                continue;
            }

            if (page == Model.PageNumber)
            {
                if (Model.TotalPagesCount > 1)
                {
                    <span><b>@Model.PageNumber</b></span>
                }
                continue;
            }

            @*<a href="@Url.Action("Index", new { pageNumber = page, pageSize = Model.PageSize})">@page</a>*@
      @*  }

        @if (Model.PageNumber < Model.TotalPagesCount)
        {
            <a href="@Model.PageUrl(Model.PageNumber + 1,Model.PageSize)" class="arrow">
                <img src="/App_Themes/Default/Images/Tools/ArrowRight.gif" alt="Next" />
            </a>
        }
    </div>

    <div class="pagerright">
        @using (Html.BeginForm("Index"))
        {
            <input type="submit" class="refresh" value="" />
            <input type="text" name="pageSize" class="refreshinput" value="@Model.PageSize" />
            <label class="refreshlabel">Page size:</label>
        }
    </div>
</div>*@
